body{
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar{
    background: darkslategrey;
}
.nav-fixed,
.nav-link,
.navbar-brand{
    color: #fff;
    cursor: pointer;
}
.navbar-brand img {
    background-color: #6ab446;
}
.navbar-toggler-icon{
    background: darkslategray;
    color: white;
}
.nav-link{
    margin-right: 1em !important;
}
.nav-link:hover{
    color: #000;
}
.nabbar-collapse{
    justify-content: flex-end;
}
.header{
    background-image: url('bs/images/ls\ 500.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0);
}
.description{
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}
.description h1{
    color: white;
}
.description p {
    color: white;
    font-size: 1.3rm;
    line-height: 1.5;
}
.description button{
    background: #6ab446;
    border: 1px solid #6ab446;
    border-radius: 0;
    color: #fff;
}
.description button:hover{
    border: 1px solid #fff;
    background: #356844;
    color: #000;
}
.description button a {
    color: white;
}
.features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
}
.features h2 {
    text-align: center;
    padding-top: -40px;
    padding-bottom: 50px;
}
.features h3{
    padding-left: 60px;
}
.feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.features img {
    -webkit-box-shadow:1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
}
.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}
.footer-copyright {
    color: #666;
    padding: 40px 0;
}
@media (max-width: 575.98px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }
 
    .description h1 {
        font-size: 2em;
    }
 
    .description p {
        font-size: 1.2rem;
    }
 
    .features {
        margin: 0;
    }
}
